{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% macro logged_in_user_info() %}
  <div class="logged-in-user-info">
    {% if request.user %}
      <a class="logged-in-user-username" href="/user/{{ request.user }}">{{ request.user }}</a>

      {% if request.user.num_unread_messages > 0 %}
        <a class="logged-in-user-alert" href="/messages/unread">
          {% trans num_messages=request.user.num_unread_messages %}
          {{ num_messages }} new message
          {% pluralize %}
          {{ num_messages }} new messages
          {% endtrans %}
        </a>
      {% endif %}

      {% if request.user.num_unread_notifications > 0 %}
        <a class="logged-in-user-alert" href="/notifications/unread">
          {% trans num_notifications=request.user.num_unread_notifications %}
          {{ num_notifications }} new comment
          {% pluralize %}
          {{ num_notifications }} new comments
          {% endtrans %}
        </a>
      {% endif %}
    {% else %}
      <a class="text-small" href="/login">Log in</a>
    {% endif %}
  </div>
{% endmacro %}
