// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.comment {
  border-left: 1px solid;
  margin-bottom: 0.4rem;

  header {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    line-height: 0.7rem;

    // no padding on mobile - the collapse button will do the job
    padding: 0 0.2rem 0 0;
    @media (min-width: $size-md) {
      padding: 0.2rem;
    }
  }

  &:target > .comment-itself {
    border-left: 3px solid;
  }
}

.comment[data-comment-depth="0"] {
  border-bottom: 1px solid;
}

.comment-user-info {
  margin-left: 0.2rem;
}

.comment-posted-time {
  margin-left: 0.4rem;
  font-size: 0.6rem;
}

.comment-edited-time {
  font-size: 0.6rem;
  font-style: italic;
  margin-left: 0.4rem;
}

.comment-excerpt {
  display: none;

  margin-left: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-branch-counter {
  display: none;

  margin-right: 0.4rem;
}

.comment-exemplary-reasons {
  display: inline-block;
  margin: 0.2rem 0.4rem;
  font-size: 0.6rem;

  &[open] {
    border-bottom: 1px dashed;
  }

  ul {
    list-style-type: circle;
    margin-top: 0;
    margin-left: 2rem;
  }
}

.comment-nav-link {
  @include min-touch-size;

  display: flex;
  align-items: center;

  font-size: 0.6rem;

  margin-left: 0.4rem;
  @media (min-width: $size-md) {
    margin-left: 1rem;
  }
}

.comment-tree {
  margin: 0;
  padding-top: 0.4rem;
  list-style-type: none;
}

.comment-tree-replies {
  margin-left: 0.4rem;

  @media (min-width: $size-md) {
    margin-left: 1rem;
  }
}

// This is some horrifying CSS.
// It makes it so that comments of a depth >= 4 will not indent their replies unless
// there is more than one reply. Instead, it adds text before the next comment (the
// single reply) indicating that it's a direct reply to the above comment.
.comment:not([data-comment-depth="0"]):not([data-comment-depth="1"]):not([data-comment-depth="2"]):not([data-comment-depth="3"]) {
  &[data-comment-replies="1"] {
    & > .comment-tree-replies {
      margin-left: -1px;  // compensate for border

      & > .comment-tree-item > .comment > .comment-itself {
        & > .comment-text::before,
        & > header > .is-comment-deleted::before,
        & > header > .is-comment-removed::before {
          content: "(Reply to above comment)";
          font-size: 0.6rem;
          font-style: italic;
          margin-right: 0.2rem;
        }
      }
    }
  }
}

.comment-tree-item {
  margin: 0;
  padding: 0;
  max-width: none;
}

.comment-labels {
  margin: 0 0 0 0.4rem;
  list-style-type: none;

  li {
    margin-top: 0;
    max-width: none;
  }
}

.comment-label-buttons {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 1rem;
  justify-content: space-between;

  @media (min-width: $size-md) {
    justify-content: left;
  }
}

.comment-label-count {
  font-size: 0.6rem;
}

.comment-text {
  @extend %links-text;
  @extend %lists-text;

  padding: 0.2rem;
  padding-left: 0.4rem;
  overflow: auto;
}

.comment-removed-warning {
  color: $warning-color;
  font-weight: bold;
  font-size: 0.6rem;
}

.comment-votes {
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0 0.4rem;
}

.is-comment-by-op {
  & > .comment-itself {
    margin-left: -2px;
    border-left: 3px solid;

    .comment-user-info {
      font-weight: bold;
    }
  }
}

%collapsed {
  .comment-edited-time,
  .comment-exemplary-reasons,
  .comment-label-buttons,
  .comment-labels,
  .comment-nav-link,
  .comment-posted-time,
  .comment-tree-replies,
  .comment-text,
  .comment-votes,
  .btn-post {
    display: none;
  }

  .comment-excerpt {
    display: inline-block;
  }

  &.is-comment-by-op .comment-user-info {
    font-weight: normal;
  }

  header {
    font-size: 0.6rem;
  }
}

.is-comment-collapsed:not(:target) {
  @extend %collapsed;

  &[data-comment-depth="0"] {
    border-bottom: 0;
  }

  .comment-branch-counter {
    display: inline-block;
    font-size: 0.7rem;
  }
}

// uses @extend to only collapse everything inside the collapsed comment itself and
// not its replies
.is-comment-collapsed-individual:not(:target) {
  & > .comment-itself {
    @extend %collapsed;
  }
}

.is-comment-deleted, .is-comment-removed {
  font-size: 0.7rem;
  font-style: italic;
}

.is-comment-mine {
  & > .comment-itself {
    margin-left: -2px;
    border-left: 3px solid;
  }
}

.is-comment-new {
  & > .comment-itself {
    margin-left: -2px;
    border-left: 3px solid;
  }
}

.is-comment-exemplary {
  & > .comment-itself {
    margin-left: -2px;
    border-left: 3px solid;
  }
}
