// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

a.link-user, a.link-group {
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
